h2, p {
    margin: 0 10px;
}

header {
    margin-bottom: 40px;
}

.tip {
    padding: 10px;
    background: #333333 !important;
    color: #ffffff;
}

.tip .delete {
    color: hotpink;
    font-size: 0.8em;
}
